
@media screen and (max-width: 500px)
{	
	/*logo*/
	.logo_a img {width: 100px;}
	.navi_ul li {border: 1px solid #e2e2e2;border-bottom: none;}
	.navi_ul li:last-child {border-bottom: 1px solid #e2e2e2;}
	.naviagtion_lifefull {margin-top: 5px;}


	/*banner section start*/
	#banner {border-bottom-right-radius: 0%;border-bottom-left-radius: 0%;}
	.slider_content h1 {margin:0;text-align: center;font-size: 45px;}
	.slider_content hr {width: 100%;}
	.banner {margin-top: 74px;}
	/*banner section end*/

	/*excellence center start*/
	.excell_offering {background:transparent;}
	.excellence_center {padding: 20px 0;}
	.heading_section {font-size: 36px;}
	.excellence_content {padding-left: 0;}
	.read_more {margin-left: 0; width: 100%;}
	.excellence_img img {padding-top: 30px;}

	/*offering start*/
	.offering {float: none;width: 100%;text-align: center;padding-right: 0; padding-top: 0;}
	.offering h1 {text-align: center !important;}
	.offering p {text-align: justify;}
	/*offering end*/

	/*sugar health start*/
	.sugar_health_Section {margin-top: 0;}
	.heart_img {position: unset!important; left: 0; bottom: 0px;}	
	.heart_img img {width: 100%;}
	.sugar_section {position: unset;bottom: 0;left: 0;width: 100%;height: auto;}
	.sugar_section a img {width: 100%;}
	.sugar_section2 a img {width: 100%;}	
	.sugar_section2 {position: unset;bottom: 0;left: 0;width: 100%; margin-top: 10px;}
	/*sugar health end*/

	/*facilities*/
	.facilities {padding-top: 0;}
	.icons img {width: 150px;}
	.content_icons p {padding-top: 20px; font-size: 20px;}
	.icon_content {text-align: center;border: 1px solid #dedede;margin-bottom: 10px;}
	/*facilities end*/

	/*education start*/
	.education {margin:30px 0; padding-top: 0;}
	.video_section {width: 100%}
	/*education end*/

	/*contact us start*/
	.contact_us {padding:10px 0;}
	.head_contact {font-size: 36px;}
	.input_border {width: 100%;}
	.contact_forms {margin-bottom: 50px;}
}

 /*Mobile portrait (320x480)*/
@media (min-width:310px) and (max-width:470px)
{
	/*logo*/
	.logo_a img {width: 100px;}
	.navi_ul li {border: 1px solid #e2e2e2;border-bottom: none;}
	.navi_ul li:last-child {border-bottom: 1px solid #e2e2e2;}
	.naviagtion_lifefull {margin-top: 5px;}


	/*banner section start*/
	#banner {border-bottom-right-radius: 0%;border-bottom-left-radius: 0%;}
	.slider_content h1 {margin:0;text-align: center;font-size: 45px;}
	.slider_content hr {width: 100%;}
	.banner {margin-top: 74px;}
	/*banner section end*/

	/*excellence center start*/
	.excell_offering {background:transparent;}
	.excellence_center {padding: 20px 0;}
	.heading_section {font-size: 31px;margin: 20px 0;}
	.excellence_content {padding-left: 0;}
	.read_more {margin-left: 0; width: 100%;}
	.excellence_img img {padding-top: 30px;}

	/*offering start*/
	.offering {float: none;width: 100%;text-align: center;padding-right: 0; padding-top: 0;}
	.offering h1 {text-align: center !important;}
	.offering p {text-align: justify;}
	/*offering end*/

	/*sugar health start*/
	.sugar_health_Section {margin-top: 0;}
	.heart_img img {width: 100%;}
	.sugar_section {position: unset;bottom: 0;left: 0;width: 100%;height: auto;}
	.sugar_section a img {width: 100%;}
	.sugar_section2 a img {width: 100%;}
	.sugar_section2 {position: unset;bottom: 0;left: 0;width: 100%; margin-top: 10px;}
	/*sugar health end*/

	/*facilities*/
	.facilities {padding-top: 0;}
	.icons img {width: 150px;}
	.content_icons p {padding-top: 20px; font-size: 20px;}
	.icon_content {text-align: center;border: 1px solid #dedede;margin-bottom: 10px;}
	/*facilities end*/

	/*education start*/
	.education {margin:30px 0; padding-top: 0;}
	.video_section {width: 100%}
	/*education end*/

	/*contact us start*/
	.contact_us {padding:70px 0;}
	.head_contact {font-size: 36px;}
	.input_border {width: 100%;}
	.contact_forms {margin-bottom: 50px;}
}

/*Mobile  landscape (480x320)*/
@media (min-width:470px) and (max-width:580px)
{
	/*logo*/
	.logo_a img {width: 100px;}
	.navi_ul li {border: 1px solid #e2e2e2;border-bottom: none;}
	.navi_ul li:last-child {border-bottom: 1px solid #e2e2e2;}
	.naviagtion_lifefull {margin-top: 5px;}


	/*banner section start*/
	#banner {border-bottom-right-radius: 0%;border-bottom-left-radius: 0%;}
	.slider_content h1 {margin:0;text-align: center;font-size: 45px;}
	.slider_content hr {width: 100%;}
	.banner {margin-top: 74px;}
	/*banner section end*/

	/*excellence center start*/
	.excell_offering {background:transparent;}
	.excellence_center {padding: 20px 0;}
	.heading_section {font-size: 36px;}
	.excellence_content {padding-left: 0;}
	.read_more {margin-left: 0; width: 100%;}
	.excellence_img img {padding-top: 30px;}

	/*offering start*/
	.offering {float: none;width: 100%;text-align: center;padding-right: 0; padding-top: 0;}
	.offering h1 {text-align: center !important;}
	.offering p {text-align: justify;}
	/*offering end*/

	/*sugar health start*/
	.sugar_health_Section {margin-top: 0;}
	.heart_img img {width: 100%;}
	.sugar_section {position: unset;bottom: 0;left: 0;width: 100%;height: auto;}
	.sugar_section a img {width: 100%;}
	.sugar_section2 a img {width: 100%;}
	.sugar_section2 {position: unset;bottom: 0;left: 0;width: 100%; margin-top: 10px;}
	/*sugar health end*/

	/*facilities*/
	.facilities {padding-top: 0;}
	.icons img {width: 150px;}
	.content_icons p {padding-top: 20px; font-size: 20px;}
	.icon_content {text-align: center;border: 1px solid #dedede;margin-bottom: 10px;}
	/*facilities end*/

	/*education start*/
	.education {margin:30px 0; padding-top: 0;}
	.video_section {width: 100%}
	/*education end*/

	/*contact us start*/
	.contact_us {padding:10px 0;}
	.head_contact {font-size: 36px; margin: 130px 0 40px;}
	.input_border {width: 100%;}
	.contact_forms {margin-bottom: 50px;}
}

/*Small tablet portrait (600x800)*/
@media (min-width:590px) and (max-width:767px)
{
	/*logo*/
	.logo_a img {width: 100px;}
	.navi_ul li {border: 1px solid #e2e2e2;border-bottom: none;}
	.navi_ul li:last-child {border-bottom: 1px solid #e2e2e2;}
	.naviagtion_lifefull {margin-top: 5px;}


	/*banner section start*/
	#banner {border-bottom-right-radius: 0%;border-bottom-left-radius: 0%;}
	.slider_content h1 {margin:0;text-align: center;font-size: 45px;}
	.slider_content hr {width: 100%;}
	.banner {margin-top: 74px;}
	/*banner section end*/

	/*excellence center start*/
	.excell_offering {background:transparent;}
	.excellence_center {padding: 20px 0;}
	.heading_section {font-size: 36px;}
	.excellence_content {padding-left: 0;}
	.read_more {width: 50%;}
	.excellence_img img {padding-top: 30px;}

	/*offering start*/
	.offering {float: none;width: 100%;text-align: center;padding-right: 0; padding-top: 0;}
	.offering h1 {text-align: center !important;}
	.offering p {text-align: justify;}
	/*offering end*/

	/*sugar health start*/
	.sugar_health_Section {margin-top: 0;}
	.heart_img {position: unset;left: 0; bottom: 0;}
	.heart_img img {width: 100%;}
	.sugar_section a img {width: 100%;}
	.sugar_section2 a img {width: 100%;}
	.sugar_section {position: unset;bottom: 0;left: 0;width: 60%;margin: auto;}
	.sugar_section2 {position: unset;bottom: 0;left: 0;width: 60%; margin-top: 10px;margin: auto;}
	/*sugar health end*/

	/*facilities*/
	.facilities {padding-top: 0;}
	.icons img {width: 150px;}
	.content_icons p {padding-top: 20px; font-size: 20px;}
	.icon_content {text-align: center;margin-bottom: 10px;}
	/*facilities end*/

	/*education start*/
	.education {margin:30px 0; padding-top: 0;}
	.video_section {width: 100%}
	/*education end*/

	/*contact us start*/
	.contact_us {padding:10px 0;}
	.head_contact {font-size: 36px; margin: 130px 0 40px;}
	.input_border {width: 100%;}
	.contact_forms {margin-bottom: 50px;}
}

/*Small tablet landscape (800x600)*/
@media (min-width:790px) and (max-width:900px)
{ 
	/*logo*/
	.logo_a img {width: 100px;}
	.navi_ul li {border: 1px solid #e2e2e2;border-bottom: none;}
	.navi_ul li:last-child {border-bottom: 1px solid #e2e2e2;}
	.naviagtion_lifefull {margin-top: 5px;}


	/*banner section start*/
	#banner {border-bottom-right-radius: 0%;border-bottom-left-radius: 0%;}
	.slider_content h1 {margin:0;text-align: center;font-size: 45px;}
	.slider_content hr {width: 100%;}
	.banner {margin-top: 74px;}
	/*banner section end*/

	/*excellence center start*/
	.excell_offering {background:transparent;}
	.excellence_center {padding: 20px 0;}
	.heading_section {font-size: 36px;}
	.excellence_content {padding-left: 0;}
	.read_more {width: 100%;margin-left: 0;}
	.excellence_img img {padding-top: 30px;}
	.excellence_img {margin-top: 35%;}

	/*offering start*/
	.offering {float: none;width: 100%;text-align: center;padding-right: 0; padding-top: 0;}
	.offering h1 {text-align: center !important;}
	.offering p {text-align: justify;}
	/*offering end*/

	/*sugar health start*/
	.sugar_health_Section {margin-top: 0;}
	.heart_img {position: relative;left: -10px;bottom: -142px;}
	.heart_img img {width: 425px;}
	.sugar_section {position: unset;bottom: 0;left: 0;width: 100%;}
	.sugar_section2 {position: unset;bottom: 0;left: 0;width:100%;}
	/*sugar health end*/

	/*facilities*/
	.facilities {padding-top: 0;}
	.icons img {width: 150px;}
	.content_icons p {padding-top: 20px; font-size: 20px;}
	.icon_content {text-align: center;margin-bottom: 10px;}
	/*facilities end*/

	/*education start*/
	.education {margin:30px 0; padding-top: 0;}
	.video_section {width: 100%}
	/*education end*/

	/*contact us start*/
	.contact_us {padding:10px 0;}
	.head_contact {font-size: 36px; margin: 130px 0 40px;}
	.input_border {width: 100%;}
	.contact_forms {margin-bottom: 50px;}

}


/*Tablet portrait (768x1024)*/
@media (min-width:758px) and (max-width:800px)
{ 

	/*logo*/
	.logo_a img {width: 100px;}
	.navi_ul li {border: 1px solid #e2e2e2;border-bottom: none;}
	.navi_ul li:last-child {border-bottom: 1px solid #e2e2e2;}
	.naviagtion_lifefull {margin-top: 5px;}


	/*banner section start*/
	#banner {border-bottom-right-radius: 0%;border-bottom-left-radius: 0%;}
	.slider_content h1 {margin:0;text-align: center;font-size: 45px;}
	.slider_content hr {width: 100%;}
	.banner {margin-top: 74px;}
	/*banner section end*/

	/*excellence center start*/
	.excell_offering {background:transparent;}
	.excellence_center {padding: 20px 0;}
	.heading_section {font-size: 36px;}
	.excellence_content {padding-left: 0;}
	.read_more {width: 100%;margin-left: 0;}
	.excellence_img img {padding-top: 30px;}
	.excellence_img {margin-top: 35%;}

	/*offering start*/
	.offering {float: none;width: 100%;text-align: center;padding-right: 0; padding-top: 0;}
	.offering h1 {text-align: center !important;}
	.offering p {text-align: justify;}
	/*offering end*/

	/*sugar health start*/
	.sugar_health_Section {margin-top: 0;}
	.heart_img {position: relative;left: -10px;bottom: -142px;}
	.heart_img img {width: 425px;}
	.sugar_section {position: unset;bottom: 0;left: 0;width: 100%;}
	.sugar_section2 {position: unset;bottom: 0;left: 0;width:100%;}
	/*sugar health end*/

	/*facilities*/
	.facilities {padding-top: 0;}
	.icons img {width: 150px;}
	.content_icons p {padding-top: 20px; font-size: 20px;}
	.icon_content {text-align: center;margin-bottom: 10px;}
	/*facilities end*/

	/*education start*/
	.education {margin:30px 0; padding-top: 0;}
	.video_section {width: 100%}
	/*education end*/

	/*contact us start*/
	.contact_us {padding:10px 0;}
	.head_contact {font-size: 36px; margin: 130px 0 40px;}
	.input_border {width: 100%;}
	.contact_forms {margin-bottom: 50px;}
}

/*Tablet landscape (1024x768)*/
@media (min-width:992px) and (max-width:1199px) 
{
	/*navigation start*/
	.navi_ul li a {font-size: 17px;font-weight: bold;margin: 5px 12px;}
	/*sugar health start*/
	.heart_img {position: relative; left: -178px; bottom: 56px;}

}


@media screen and (min-width: 1400px) 
{
	/*navigation start*/
	.navi_ul li a {margin: 5px 25px;}
}

@media screen and (min-width: 1600px) 
{
	/*education start*/
	.faci_edu {background-position: 1204px 501px;}
}

@media screen and (min-width: 1920px)
{
	.sugar_section a img {width: 70%;}
	.sugar_section2 a img {width:70%;}
}

@media (min-width: 992px) 
{

}

@media (min-width: 1200px)
{
	.navi_ul li a {margin: 5px 20px;}
}

@media and (min-width: 1030px) and (max-width: 1366px) 
{

}
@media (min-width:1440px) and (max-width:2560px) {

	.sugar_section a img {width: 70%; margin-left: 140px;}
	.sugar_section2 a img {width:70%;}
}






