body {font-family: 'Hind Guntur', sans-serif;}
html {scroll-behavior: smooth;}
/*navigation start*/
	/*logo start*/
	.logo_a {padding:0;}
	.logo_a img {width: 150px;}

	.naviagtion_lifefull {}
	.navi_ul {}
	.navi_ul li {}
	.navi_ul li a {font-size: 20px;font-weight: bold;margin: 5px 30px;}
    .navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link:hover,
    .navbar-light .navbar-nav .nav-link:active {color: #423da1;}
    .navbar-light .nav-item > .nav-link.active {color:#423da1;}
    .navbar-light .navbar-nav .nav-link {color: #282425;font-size: 24px;}
/*navigation end*/

/*banner start*/
.banner {margin-top: 110px; padding: 50px 0 10px 0;}
.sliders {}
.slider_img {}
.slider_img img {}
.slider_content hr {width: 76%;border-color: #374796;border-width: 5px;margin: 0;}
.slider_content h1 {color: #374796;font-size: 56px;font-weight: bolder; margin: 20px 90px 20px 0;
	                text-align: right; margin-bottom: 0;}
/*#banner {box-shadow: 0px 0px 24px 2px #b9b9b9; border-bottom-right-radius: 12%;
	     border-bottom-left-radius: 12%;}*/ 

/*ecellence and offering section start*/
/*excellence start*/
.excell_offering {background-image: url(../images/right_arrow.png); background-repeat: no-repeat;
                background-position-y:335px; background-size: 29% 70%;}
.excellence_center {padding: 90px 0;}
.excellence_content {padding-left: 70px;}
.excellence_content h1 {}
.excellence_content p {font-size: 24px; text-align: justify;}
.excellence_img {}
.excellence_img img {width: 100%; padding-top: 80px;}
.heading_section {text-align: center; color: #374796; font-weight: bolder;font-size: 54px;margin:30px 0 10px;}
.read_more {background-color: #374796; color: #fff; border: none; padding: 8px 73px 0px;
    font-size: 27px; border-radius: 35px; margin-left: 135px; font-weight: lighter;  margin-top: 40px;}

/*offering start*/
.offering {float: right; width:44%; text-align: right; padding-right: 50px; padding-top: 115px;}
.offering p {font-size: 24px;}
.offering h1 {text-align: right !important;}

/*sugar & senior start*/
.heart_img {}
.heart_img img {width: 870px;}
.sugar_section {/*background-color: #fff;border-top: 1px solid #CBCBCB;border-bottom:5px solid #CBCBCB;
    border-right: 25px solid #592C6D; padding: 15px 10px;position: relative; bottom: 150px;
    left: 150px;width: 85%; margin-right: 0;height: 499px; max-height: 499px;*/
    position: relative;bottom: 180px;}
.sugar_section a img {width: 100%;}
.sugar_logo {text-align: center;}
.sugar_logo img {width: 50%;}
.heart_img {
    position: relative;
        left: -129px;
    bottom: 0px;
}

.sugar_content {}
.sugar_content p {color: #6D6B6C;
    font-size: 20px;
    margin-top: 30px;
 margin-bottom: 142px;
    text-align: justify;}
.btn_sugar button {border: none;background: #592C6D;color: #fff; padding: 9px 25px 5px;font-size: 20px;
    border-radius: 35px;}
.btn_sugar {text-align: center;}

.sugar_health_Section {margin-top: 230px;}

.sugar_section2 {/*background-color:#582B6B;border-bottom: 5px solid #CBCBCB;
    border-right: 25px solid #fff; padding: 15px 10px;position: relative; bottom: 150px;
    left: 75px; width: 83%;*/position: relative;bottom: 187px;}
.sugar_section2 a img {width: 100%;}
.sugar_logo2 {text-align: center;}
.sugar_logo2 img {width: 75%;background: #fff;border-radius: 20px;}
.sugar_content2 {}
.sugar_content2 p {color: #fff; font-size: 20px; margin-top: 30px;  margin-bottom: 60px;
    text-align: justify;}
.btn_sugar2 {text-align: center;}
.btn_sugar2 button {background: #fff; color: #592C6D; padding: 9px 25px 5px;font-size: 20px;
    border-radius: 35px; border: none;}
/*ecellence and offering section end*/
/*facilities and education*/
.faci_edu {background-image: url(../images/left_arrow.png); background-repeat: no-repeat;
                background-position: 839px 501px; background-size: 40%;}
/*facilities*/
.facilities{padding-top: 115px; margin: auto;}
.icon_content {text-align: center;}
.content_icons {}
.content_icons p{font-size: 24px; color: #5C5B60;font-weight: 600;}
.icons{}
.icons img {width:200px;}


/*education start*/
.education {margin: 60px 0;padding-top: 115px;}
.video_section {text-align: center;}
/*facilities and education end*/


/*contact us start*/
.contact_us {/*background-color: #3E4CA8;*/ color: #fff; padding: 50px 0;
            background-image: url(../images/contactUs.png);background-size: 100% 100%; background-repeat: no-repeat; }
.head_contact {text-align: center;color: #fff;font-weight: bolder;font-size: 54px;margin:70px 0;}
.input_border {background: transparent;border-top: none;border-left: none;
               border-right: none;width: 80%; margin: auto;color: #fff; font-size: 24px;outline: none;padding:10px;padding-bottom: 0;}
::placeholder {opacity: 1; font-size: 20px; color: rgba(255,255,255,0.5);}
.contact_forms {margin-bottom: 80px;}
.contact-add p{font-size: 24px;font-weight: lighter;}
.Address {font-size: 38px;font-weight: 600;}
/*contact us end*/



